<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/baseline_bolt_24"
        android:label="@string/app_name"
        android:roundIcon="@drawable/baseline_bolt_24"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting"
        tools:targetApi="31">
        <activity android:name=".calculator.CalculatorMainView"
            android:exported="false"
            android:label="CalculatorMainView"
            android:theme="@style/Theme.LearnElectricCircuitsApp"/>

        <activity android:name=".calculator.CalculatorParallelView"
            android:exported="false"
            android:label="CalculatorSerialView"
            android:theme="@style/Theme.LearnElectricCircuitsApp"/>

        <activity android:name=".calculator.CalculatorSeriesView"
            android:exported="false"
            android:label="CalculatorParallelView"
            android:theme="@style/Theme.LearnElectricCircuitsApp"/>

        <activity android:name=".test.TestMainView"
            android:exported="false"
            android:label="TestMainView"
            android:theme="@style/Theme.LearnElectricCircuitsApp"/>

        <activity android:name=".test.TestQuestionsActivity"
            android:exported="false"
            android:label="TestQuestionActivity"
            android:theme="@style/Theme.LearnElectricCircuitsApp"/>

        <activity android:name=".test.TestResultActivity"
            android:exported="false"
            android:label="TestResultActivity"
            android:theme="@style/Theme.LearnElectricCircuitsApp"/>

        <activity android:name=".calendar.CalendarMainView"
            android:exported="false"
            android:label="CalendarMainView"
            android:theme="@style/Theme.LearnElectricCircuitsApp"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".calendar.NotificationReceiver"/>
    </application>

</manifest>